.chat-side
  .chat-side_header
    .chat-side_header__box
      .chat-side_header__box__user-name
        aaa
      .chat-side_header__box__menu
        .chat-side_header__box__new
          = link_to "#", class: "contents__btn" do
            = icon('fa', 'edit')
        .chat-side_header__box__edit
          = link_to "#", class: "contents__btn" do
            = icon('fa', 'cog')
            
  .side-groups
    =link_to"#" ,class:"side-groups__group"do
      .side-groups__group__name
        aa
      .side-groups__group__message
        まだメッセージがありません

    =link_to"#" ,class:"side-groups__group"do
      .side-groups__group__name
        aa
      .side-groups__group__message
        まだメッセージがありません
    
    =link_to"#" ,class:"side-groups__group"do
      .side-groups__group__name
        aa
      .side-groups__group__message
        まだメッセージがありません
