.wrapper
  .chat-side
    .chat-side_header
      .chat-side_header__box
        .chat-side_header__box__user-name
          aaa
        .chat-side_header__box__menu
          .chat-side_header__box__new
            = link_to "#", class: "contents__btn" do
              = icon('fa', 'edit')
          .chat-side_header__box__edit
            = link_to "#", class: "contents__btn" do
              = icon('fa', 'cog')
              
    .side-groups
      =link_to"#" ,class:"side-groups__group"do
        .side-groups__group__name
          aa
        .side-groups__group__message
          まだメッセージがありません

      =link_to"#" ,class:"side-groups__group"do
        .side-groups__group__name
          aa
        .side-groups__group__message
          まだメッセージがありません
      
      =link_to"#" ,class:"side-groups__group"do
        .side-groups__group__name
          aa
        .side-groups__group__message
          まだメッセージがありません

  .chat-main
    .main-header
      .main-header__left-box
        .main-header__left-box__group-name
          aaaa
        .main-header__left-box__member-name
          member:
      =link_to"#" , class: "edit"do 
        .main-header__edit-btn
          Edit

    .messages
      .message
        .message-info
          .message-info__name
            aaaa
          .message-info__data
            020/02/07(Fri) 20:14:09
        .message-info__text
          menber
        .message-info
          .message-info__name
            aaaa
          .message-info__data
            020/02/07(Fri) 20:14:09
        .message-info__text
          member
        .message-info
    .form
      %form.new_message
        .input-box
          %input{type: " text ",class:  " input-box__text ", placeholder: "type a message"}
          %label{class:  " input-box__image "}
            =icon('fas' , 'image')
            %input{type:"file", class:"input-box__image__file"}

      %input{type: "submit", class: "submit-btn",value:"send"}
        